<section class="cabinet-user">
    <div class="cabinet-user__container">
        <div class="cabinet-user__top">
            <div class="cabinet-user__number"><b>1</b></div>
            <h4 class="cabinet-user__title">Особисті дані</h4>
        </div>
        <form class="cabinet-user__form "  [formGroup]="userForm"  >
            <div class="cabinet-user__box ">
                <input type="text" formControlName="firstName" name="firstName" class="cabinet-user__input form-admin__input" placeholder="*Ваше ім'я">
                <input type="text"  formControlName="lastName" name="lastName" class="cabinet-user__input form-admin__input" placeholder="*Ваше прізвище">
            </div>
                <input type="text"  formControlName="phone"  mask="(000) 000-00-00" prefix="+38" name="phone" class="cabinet-user__input form-admin__input" placeholder="*Ваш номер телефону">
                <input type="email"  formControlName="email" name="email" class="cabinet-user__input form-admin__input" placeholder="*Ваш емейл">
              
                <div class="cabinet-user__actions">
              <button type="submit" class="cabinet-user__btnSave button-save"(click)="updateUser()" [disabled]="userForm.invalid" >Зберегти зміни</button>
            </div>
         </form>
    </div>
</section>
