@import "../../../styles.scss";
.header-informer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 16px 0;
  background-color: #f5f5f5;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s;
  padding: 13px 15px;
  background: #518b26
    url(../../../assets/images/header-informer/bg-informer.jpg) repeat-x left
    top;
  background-size: auto 100%;
  color: #fff;
  @include xs {
    gap: 10px;
    flex-direction: column;
  }

  &__modal {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 5px 15px;
    margin-left: 20px;
    border-radius: 99px;
    color: #34681d;
    background-color: rgba(255, 255, 255, 0.45);
    transition: all 0.3s;

    &:hover {
      background-color: #fff;
    }
  }
}

.header {
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 105px;
    position: fixed;
    width: 100%;
    height: 105px;
    background-color: #fff;
    z-index: 9;
    top: 46.2px;
    left: 0;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
    @media (max-width: 1540px) {
      height: 70px;
      min-height: 70px;
    }
    @include xs {
      top: 76px;
      height: 50px;
      min-height: 50px;
    }
  }

  &__logo {
    width: 180px;
    height: 105px;
    display: inline-flex;
    align-items: center;
    @media (max-width: 1540px) {
      width: unset;
      height: 100%;
    }
    img {
      @media (max-width: 1540px) {
        width: 110px;
      }
      @include xs {
        width: 65px;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__languague {
    margin-right: 25px;
    font-size: 14px;
    font-weight: 500;
    // padding: 42px 0;
    color: #2d2c2c;
    text-transform: uppercase;
    transition: all 0.3s;
    cursor: pointer;
    @media (max-width: 1200px) {
      margin-right: 20px;
    }
    @include xs {
      margin-right: 15px;
    }
  }
  &__button {
    margin-right: 60px;
    &:active {
      transform: translateY(3px);
    }
    @media (max-width: 1600px) {
      margin-right: 20px;
    }
    @media (max-width: 1100px) {
      display: none;
    }
  }

  &__favourites {
    @media (max-width: 1200px) {
      margin-right: 20px;
    }
    @include xs {
      margin-right: 15px;
      order: 2;
      .bg {
        width: 30px;
        height: 28px;
      }
      .bg-icon {
        width: 15px;
        height: 15px;
      }
    }
  }

  &__phone {
    position: relative;
    display: flex;
    margin-right: 60px;
    @media (max-width: 1540px) {
      margin-right: 0px;
    }
    @media (max-width: 1200px) {
      margin-right: 20px;
    }
    .btn-icon {
      @media (max-width: 1200px) {
        margin-right: 0px;
      }
    }
    @include md {
      display: none;
    }
    &:hover {
      .header__phone-info {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }
  &__phone-number {
    transition: all 0.3s;
    color: #2d2c2c;
    &:hover {
      @media (min-width: 992px) {
        color: #599921;
      }
    }
  }
  &__phone-text {
    color: #6d6d6d;
    font-size: 12px;
    b {
      color: #2d2c2c;
    }
  }

  &__phone-info {
    @media (max-width: 1540px) {
      position: absolute;
      left: -95px;
      top: 60px;
      width: 240px;
      text-align: center;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
      padding: 15px 10px;
      background-color: #f5f5f5;
      border-radius: 6px;
      opacity: 0;
      z-index: 2;
      visibility: hidden;
      transform: translateY(30px);
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      &::before {
        position: absolute;
        content: "";
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 20px;
        height: 20px;
        border-bottom: 10px solid #f5f5f5;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }
    }
  }
  &__phone-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    margin-right: 40px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #2d2c2c;
    transition: 0.3s;
    &:hover {
      color: #599921;
    }
    @media (max-width: 1200px) {
      margin-right: 20px;
    }
    @include xs {
      margin-right: 10px;
      order: 1;
    }
    span {
      @include xs {
        display: none;
      }
    }
  }
}
.menu {
  &__list {
    display: flex;
    gap: 60px;
    @media (max-width: 1200px) {
      gap: 25px;
    }
  }

  &__item {
    &:nth-child(2) {
      @media (max-width: 670px) {
        display: none;
      }
    }
    &:nth-child(3) {
      @include lg {
        display: none;
      }
    }
    // &.menu-show {
    //   &:hover {
    //     .menu__submenu {
    //       opacity: 1;
    //       visibility: visible;
    //       margin-top: 0;
    //     }
    //   }
    // }
    &.menu-show {
      
        .menu__submenu {
          &.active{
            opacity: 1;
            visibility: visible;
            margin-top: 0;
          }
        
        }
      
    }

  }

  &__link {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    background: transparent;
    color: #2d2c2c;
    text-transform: uppercase;
    transition: all 0.3s;
    &:hover {
      color: #599921;
    }
    @media (max-width: 670px) {
      font-size: 12px;
    }
  }

  &__submenu {
    width: 62%;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    padding: 10px 9px 10px 10px;
    margin-top: 30px;
    top: 156px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f5f5f5;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }

  &__submenu-item {
    position: relative;
    display: inline-block;
    width: 16.6%;
    vertical-align: top;
    padding: 8px 0;
    text-align: center;
    transition: all 0.3s;
    &:hover {
      background-color: #fff;
      .menu__submenu-link {
        span {
          color: #599921;
        }
      }
    }
  }

  &__submenu-link {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    padding: 42px 0;
    color: #2d2c2c;
    text-transform: uppercase;
    transition: all 0.3s;
    span{
      font-size: 14px;
      font-weight: 500;
      color: #6D6D6D;
      text-transform: uppercase;
      transition: all 0.3s;
    }
  }

  &__submenu-imgs {
    position: relative;
    display: block;
    width: 110px;
    height: 110px;
    margin: 0 auto 10px auto;
    img {
      width: auto;
      height: 100%;
    }
  }
}

.menu-block {
  width: 380px;
  overflow: auto;
  overflow-x: hidden;
  background-color: #f5f5f5;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 110;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: 0.25s;
  &._active {
    display: block;
    transform: translateX(0);
  }
  @include md {
    width: 450px;
  }
  @include sm {
    width: 100%;
  }

  &__container {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    position: relative;
    text-align: left;
    background-color: #fff;
    border-radius: 6px;
    height: 100%;
    background-color: transparent;
  }

  &__align {
    padding: 105px 65px;
    overflow: auto;
    height: 100%;
    @include md {
      padding: 60px 40px;
    }
    @include sm {
      padding: 60px 20px 40px 20px;
    }
  }
  &__list {
    a {
      position: relative;
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      color: #6d6d6d;
      text-transform: uppercase;
      padding: 15px 25px;
      border-radius: 6px;
      transition: all 0.3s;
      margin-bottom: 10px;
      text-decoration: none;
      &:hover {
        background-color: #599921;
        color: #fff;
        text-decoration: none;
      }
      @include sm {
        padding: 12px 15px;
        margin-bottom: 5px;
      }
    }
  }
  &__decor {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    @media (max-width: 1240px) {
      display: none;
    }
  }
}

.btn-close {
  position: absolute;
  top: 40px;
  right: 50px;
  z-index: 2;
  transition: 0.25s;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  background-color: transparent;
  &:active {
    transform: translateY(3px);
  }
  &::before {
    content: "\02715";
    font-size: 24px;
    font-weight: 700;
    color: #2d2c2c;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  @include sm {
    top: 5px;
    right: 10px;
  }
}
.bg-layer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.41);
  -webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s, backdrop-filter 0s;
  &._active {
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(2px);
    transition: all 0.25s, backdrop-filter 0.1s 0.25s;
  }
}
