@import "../../../../styles.scss";

.product-info {
  padding: 50px 0px 80px;
  @include sm{
    padding: 50px 0px 30px;

  }
  &__container {
    position: relative;
    @include lg {
      max-width: 720px;
    }
    @include sm {
      max-width: 540px;
    }
  }

  &__items {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap: 50px;
    @media (max-width: 1200px) {
      gap: 20px;
    }
    @include lg {
      flex-wrap: wrap;
      padding-top: 0px;
      gap: 0;
    }
  }

  &__item {
    flex: 0 1 40%;
    @media (max-width: 1440px) {
      flex: 1 1 40%;
    }
    @include lg {
      flex: 1 1 100%;
    }
    &.item-right {
      flex: 0 1 40%;
      padding: 0 100px 0 30px;
      @media (max-width: 1640px) {
        flex: 0 1 50%;
        padding: 0 15px;
      }
      @media (max-width: 1200px) {
        flex: 0 1 60%;
        padding: 0px;
      }
      @include lg {
        flex: 1 1 100%;
      }
    }
  }

  &__picture {
    text-align: center;
  }


  &__title {
    font-size: 42px;
    line-height: 1.2em;
    font-weight: 700;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    @include xs{
      font-size: 30px;
    }
  }

  &__weight {
    font-size: 16px;
    line-height: 1;
    padding: 5px;
    border: 1px solid #ececec;
    margin-top: 5px;
    display: inline-block;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__ingredients {
    line-height: 1.6em;
    color: #6d6d6d;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__variations {
    span {
      color: #6d6d6d;
    }
    b {
      font-weight: 500;
      margin: 0 5px;
    }
  }


  &__image {
    width: 500px;
    @media (max-width: 1200px) {
      width: 370px;
    }
    @include lg{
      width: 600px;
    }
    @include sm {
      max-width: 100%;
      width: 500px;
    }
    @include xs{
      width: 370px;
    }
  }
}

.info-block {
  position: relative;
  display: block;
  width: 100%;
  opacity: 1;
  top: auto;
  left: auto;
  right: auto;
  margin: 30px 0;
  padding: 20px 30px;
  transform: none;
  visibility: visible;
  background: #f5f5f5;
  border-radius: 6px;
  @include xs{
    margin: 10px 0px;
  }
}
.info-head {
  font-size: 14px;
  margin: 0px 0 10px 0;
  b {
    font-weight: 500;
    margin: 0 5px;
  }
}
.info-body {
  position: relative;

  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  @include xs{
    display: block;
  }
}
.info-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  img{
    margin-right: 5px;
  }
  p {
    font-size: 14px;
    color: #6d6d6d;
  }
  b {
    color: #2d2c2c;
    font-weight: 500;
  }

}

.thumb-input-number {
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #181818;
  font-size: 14px;
  line-height: 1;
  button {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: none;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    font-size: 18px;
    font-weight: 700;
    color: #2d2c2c;
    background-color: #f5f5f5;
    border-radius: 5px;
    &:hover {
      background-color: #599921;
      color: #fff;
    }
  }
  input {
    width: 50px;
    height: 26px;
    font-weight: 500;
    color: #2d2c2c;
    text-align: center;
    font-size: 16px;
  }
}

.product {
  &_detail-controls {
    padding: 30px 0;
    border-top: 1px solid #f5f5f5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 50px;
    @include xs{
      padding: 20px 0px;
    }
  }

  &_price-wrap {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-weight: 600;
  }

  &_price {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    color: #2d2c2c;
    font-weight: 400;
    b {
      font-weight: 700;
    }
  }
}

.product-detail-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  @include sm {
    flex-wrap: wrap;
  }
}

.product-detail-button {
  &:hover{
    background-color: transparent;
    color: #000;
  }
  @include sm {
    width: 100%;
  }
}
.product-detail-button-white{
  &:hover{
    background-color: #599921;
    color: #ffffff;
  }
  @include sm {
    width: 100%;
  }
}
