<section class="healthy-menu">
    <div class="healthy-menu__container">
      <ngx-spinner 
      color = "#fff" type="ball-fall" [fullScreen] = "true"><p style="color: white" > Loading... </p>
    </ngx-spinner>
        <div class="categories-menu">
            <div class="category-title">healthy &amp; tasty menu</div>
                <ul class="categories-list">
                    <li class="categories-list-item " [class.active]="categoryName === 'special-edition'"><a [routerLink]="[ '/category-menu/special-edition' ]" (click)="changeSelectedCategory('special-edition')">Special Edition</a></li>
                    <li class="categories-list-item " [class.active]="categoryName === 'healthy'"><a  [routerLink]="[ '/category-menu/healthy' ]" (click)="changeSelectedCategory('healthy')">healthy & tasty menu</a></li>
                    <li class="categories-list-item " [class.active]="categoryName === 'combo'"><a  [routerLink]="[ '/category-menu/combo' ]" (click)="changeSelectedCategory('combo')">Комбо меню</a></li>
                    <li class="categories-list-item  " [class.active]="categoryName === 'snidanky'"><a [routerLink]="[ '/category-menu/snidanky' ]" (click)="changeSelectedCategory('snidanky')">Сніданки до 18:00</a></li>
                    <li class="categories-list-item  " [class.active]="categoryName === 'salaty-pasty'"><a [routerLink]="[ '/category-menu/salaty-pasty' ]" (click)="changeSelectedCategory('salaty-pasty')">Салати пасти</a></li>
                    <li class="categories-list-item  " [class.active]="categoryName === 'salat-boul'"><a [routerLink]="[ '/category-menu/salat-boul' ]" (click)="changeSelectedCategory('salat-boul')">Салат боули</a></li>
                    <li class="categories-list-item  " [class.active]="categoryName === 'salaty'"><a [routerLink]="[ '/category-menu/salaty' ]" (click)="changeSelectedCategory('salaty')">Салати</a></li>
                    <li class="categories-list-item  " [class.active]="categoryName === 'fresh-rol'"><a [routerLink]="[ '/category-menu/fresh-rol' ]" (click)="changeSelectedCategory('fresh-rol')">Фреш-роли</a></li>
                    <li class="categories-list-item  " [class.active]="categoryName === 'supy'"><a [routerLink]="[ '/category-menu/supy' ]" (click)="changeSelectedCategory('supy')">Супи</a></li>
                    <li class="categories-list-item  " [class.active]="categoryName === 'zapikanky'"><a [routerLink]="[ '/category-menu/zapikanky' ]" (click)="changeSelectedCategory('zapikanky')">Запіканки</a></li>
                    <li class="categories-list-item  " [class.active]="categoryName === 'deserty'"><a [routerLink]="[ '/category-menu/deserty' ]" (click)="changeSelectedCategory('deserty')">Десерти</a></li>
                    <li class="categories-list-item  " [class.active]="categoryName === 'smuzi'"><a [routerLink]="[ '/category-menu/smuzi' ]" (click)="changeSelectedCategory('smuzi')">Смузі</a></li>
                    <li class="categories-list-item  " [class.active]="categoryName === 'drinks'"><a [routerLink]="[ '/category-menu/drinks' ]" (click)="changeSelectedCategory('drinks')">Напої</a></li>            
                </ul>
                
            <!-- select -->

            <mat-form-field style="margin-bottom: -1.25em" class="categories-menu__menu-select"  appearance="outline">
               <mat-select  name="menu" [formControl]="selectedCategoryControl" (selectionChange)="onCategorySelect($event)">
               <mat-option  *ngFor="let item of menu" [value]="item.value" >
                 {{item.viewValue}}
               </mat-option>
             </mat-select>
           </mat-form-field>

        </div>
         <div class="categories-menu__row">
         <ng-container *ngFor="let product of  goodsArray">
            <div class="product__column">
               <div class="product js-product">
                  <div class="product_image-wrap">
                     <a class="product_image">
                        <img [src]="product.image" [routerLink]="[ '/category-menu/'+product.category.path, product.id ]" alt="img">
                        <ul class="product_labels" *ngIf="categoryName !=='drinks' && categoryName !=='special-edition'">
                           <li class="product_label"  style="background-color: #28af33">Сніданки до 18:00</li>
                        </ul>
                     </a>
                      <div class="product_top-right">
         
 
                        <div class="info-main">
                           <button class="info-btn" >
                              <svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M4.37587 1.25044C4.37587 1.73365 3.98414 2.12538 3.50092 2.12538C3.01771 2.12538 2.62598 1.73365 2.62598 1.25044C2.62598 0.76722 3.01771 0.375488 3.50092 0.375488C3.98414 0.375488 4.37587 0.76722 4.37587 1.25044Z" fill="#2d7d7d"></path>
                                 <path d="M3.50092 12.6249C3.13867 12.6249 2.84467 12.3309 2.84467 11.9687V5.1875H1.96973C1.60748 5.1875 1.31348 4.8935 1.31348 4.53125C1.31348 4.169 1.60748 3.875 1.96973 3.875H3.50092C3.86317 3.875 4.15717 4.169 4.15717 4.53125V11.9687C4.15717 12.3309 3.86317 12.6249 3.50092 12.6249Z" fill="#2d7d7d"></path>
                                 <path d="M5.46875 12.6245H1.53125C1.169 12.6245 0.875 12.3305 0.875 11.9683C0.875 11.606 1.169 11.312 1.53125 11.312H5.46875C5.831 11.312 6.125 11.606 6.125 11.9683C6.125 12.3305 5.831 12.6245 5.46875 12.6245Z" fill="#2d7d7d"></path>
                              </svg>
                           </button>
                           <div class="info-block">
                              <div class="info-head">Основна страва:   <b> {{ (product.proteins !== undefined && product.fats !== undefined && product.carbohydrates !== undefined) ? calculateCalories(product.proteins, product.fats, product.carbohydrates) : '' }} </b>
                              </div>
                              <div class="info-body">
                                 <div class="info-item">
                                    <img src="https://www.tomatina.ua/wp-content/themes/tomatina/img/icons/bilki_one.svg" alt="icon" >
                                    <p>Білки – <b> {{product.proteins}} </b> г;</p>
                                 </div>
                                 <div class="info-item">
                                    <img src="https://www.tomatina.ua/wp-content/themes/tomatina/img/icons/jiri.svg" alt="icon" >
                                    <p>Жири – <b> {{product.fats}} </b> г;</p>
                                 </div>
                                 <div class="info-item">
                                    <img src="https://www.tomatina.ua/wp-content/themes/tomatina/img/icons/vug.svg" alt="icon" >
                                    <p>Вуглеводи – <b> {{product.carbohydrates}} </b> г;</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div> 
                     <div class="floating_buttons">
                        <button class="btn btn-grey fast-order" [routerLink]="[ '/checkout' ]" (click)="addToBasket(product)">Швидке замовлення</button>
                     </div>
                  </div>
                  <div class="product_title-wrap">
                     <div class="product_title">
                        <a [routerLink]="[ '/product/'+product.category.path, product.id ]" class="h5 medium">{{product.name | capitalize }}</a>
                     </div>
                     <div class="product_price-wrap">
                        {{product.price}}грн            
                     </div>
                  </div>
                  <div class="product_desc text style-4">{{product.ingredients | slice:0:120}}
                     <span *ngIf="product.ingredients && product.ingredients.length > 120">...</span>

                  </div>
                   <div class="product_controls">
                     <div class="thumb-input-number">
                        <button type="button" class="decrement" (click)="productCount(product, false)">-</button>
                        <input [value]="product.count" readonly="" class="product-qty" tabindex="-1" max="999">
                        <button type="button" class="increment" (click)="productCount(product, true)">+</button>
                     </div>
                     <button class="btn btn-primary order-btn btn-small add-to-cart-btn" (click)="addToBasket(product)">Замовити</button>
                  </div> 
               </div>
            
            </div>

         </ng-container>
         </div>
    </div>
</section>