<div class="admin-wrapper">
    <div class="admin-wrapper__container">
        <div class="admin">
                <div class="admin__body">
                    <ul class="admin__list">
                        <li class="admin__item"><a [routerLink]="[ '/admin/category' ]" routerLinkActive="active" class="admin__link">Категорії</a></li>
                        <li class="admin__item"><a [routerLink]="[ '/admin/goods' ]" routerLinkActive="active" class="admin__link">Товари</a></li>
                        <li class="admin__item"><a [routerLink]="[ '/admin/order' ]" routerLinkActive="active" class="admin__link">Замовлення</a></li>
                        <li class="admin__item"><a [routerLink]="[ '/admin/reviews' ]" routerLinkActive="active" class="admin__link">Відгуки</a></li>
                    </ul>
                    <div class="admin__action">
                        <button type="button"  class="admin__button" (click)="logout()">ВИХІД</button>
                    </div>
                </div>
        </div>
<router-outlet ></router-outlet>
</div>
</div>

