@font-face {
    font-family: "Geometria";
    src: url("../fonts/geometria/Geometria-Medium.woff");
    font-weight: 500;
}

@font-face {
    font-family: "Geometria";
    src: url("../fonts/geometria/Geometria-Bold.woff");
    font-weight: 700;
}
