<div class="admin-reviews reviews">
    <div class="reviews__container">
        <div class="reviews__items">
                            <!-- table -->
                            <table class="table table-reviews table-global"> 
                                <thead>
                                    <tr class="tr-top  table-reviews__tr-top">
                                        <th>№</th>
                                        <th>Ім'я та прізвище</th>
                                        <th>Дата та час</th>
                                        <th>Email</th>
                                        <th>Дія</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <ng-container *ngFor="let item of adminRewiewsArray;index as i">
                                    <tr>
                                        <td>{{ item.count }}</td>
                                        <td>{{ item.firstName }}  {{ item.lastName}}</td>
                                        <td>{{ item.date }}</td>
                                        <td>{{ item.email }}</td>

                                    </tr>
                                    <tr class="tr-textarea">
                                        <td><textarea  style="width: 100%;">{{ item.review }}</textarea></td>
                                    </tr>
                                        </ng-container>
                                </tbody>

                            </table> 
        </div>
    </div>
    
</div>
