@import "../../../styles.scss";

.table-reviews {
  tbody {
    @include md {
      display: flex;
      gap: 10px;
      overflow-x: auto;
    }
  }
  @include md {
    display: flex;
    flex-direction: unset;
    justify-content: space-between;
    gap: 0px;
    margin-top: 0px;
  }
  &__tr-top {
    display: grid;
    grid-template-columns:
      minmax(auto, 50px) minmax(auto, 200px) minmax(auto, 130px)
      minmax(auto, 200px) minmax(auto, auto);
    gap: 30px;
    border-bottom: 2px solid #599921;
    padding: 25px 0px;
    align-items: center;
    @media (max-width: 1200px) {
      gap: 20px;
    }
    @include lg {
      padding: 10px 0px;
    }
    @include md {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      border-bottom: unset;
    }
    th{
      &:last-child{
        justify-content: center;
       }
    }
  }
  .tr-reviews{
    grid-template-columns: minmax(auto, 50px) minmax(auto, 200px) minmax(auto, 130px) minmax(auto, 200px) minmax(auto, auto);
    td{
      &:last-child{
        justify-content: center;
       }
    }
  }
  &__empty{
    font-size: 16px;

  }
}
.tr-textarea {
  padding: 10px 0px;
  grid-template-columns: minmax(auto, 300px) minmax(auto, 100px) minmax(auto, auto) minmax(auto, auto);
  height: 100%;
   td {
    height: 100%;
    &:last-child{
      justify-content: end;
     }
   }
   textarea {
    resize: none;
    outline: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.68);
    font-family: inherit;
    height: 100%;
   }
   .image{
    cursor: pointer;
    transition: .3s ease;
    &:hover{
      transform: scale(2.0);
    }
   }

}
tr {
  display: grid;
  grid-template-columns:
    minmax(auto, 50px) minmax(auto, 200px) minmax(auto, 130px)
    minmax(auto, 200px) minmax(auto, 100px) minmax(auto, 100px);
  gap: 30px;
  padding: 25px 0px;
  align-items: center;
  &:not(:first-child) {
    border-top: 1px solid lightgray;
    @include md {
      border-top: unset;
    }
  }
  @include lg {
    padding: 10px 0px;
  }
  @include md {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: unset;
    min-width: 160px;
  }
}
td,
th {
  display: flex;
  min-width: 80px;
  &:first-child{
    min-width: 40px;
  }
  @include md {
    min-width: unset;
    min-height: 50px;
    align-items: center;
  }
}
th {
  font-size: 18px;

  @media (max-width: 1100px) {
    font-size: 16px;
  }
  @include md {
    text-align: start;
  }
}
td {
  min-width: 80px;
  font-size: 16px;
  color: rgb(0 0 0 / 68%);

  @include md {
    justify-content: center;
  }
}