<div class="admin-reviews reviews">
    <div class="reviews__container">
        <div class="reviews__items">
                            <!-- table -->
                            <table class="table table-reviews table-global"> 
                                <thead>
                                    <tr class="tr-top  table-reviews__tr-top">
                                    <th>№</th>
                                    <th>Ім'я та прізвище</th>
                                    <th >Дата та час</th>
                                    <th>Телефон</th>
                                    <th>Сума</th>
                                    <th>Статус</th>
                                </tr>
                                </thead>
                            </table> 
        </div>
    </div>
    
</div>
