<section class="section-administrator administrator">
    <div class="administrator__container">
        <div class="administrator__row">
            <div class="administrator__item">
                <div class="administrator__content">
                    <p class="administrator__label">Від нас ти отримаєш:</p>
                    <ul class="administrator__list">
                        <li>покрокове п’ятиденне навчання;</li>
                        <li>позмінний графік роботи (2/2);</li>
                        <li>розвозку по закінченні робочої зміни (діє в межах Львова)</li>
                        <li>конкурентну заробітну плату з поетапним підвищенням;</li>
                        <li>можливість вивчати нові процеси та розвиватись;</li>
                        <li>знижки в мережі наших закладів для всіх працівників;</li>
                        <li>перспективи кар’єрного росту в компанії — можливо, саме ти наш майбутній менеджер</li>
                    </ul>

                    <p class="administrator__label">Твої задачі:</p>
                    <ul>
                        <li>робота на відкритій лінії видачі;</li>
                        <li>ведення касової дисципліни;</li>
                        <li>консультація відвідувачів салат паста ба;</li>
                        <li>формування замовлень в зал та на доставку;</li>
                    </ul>
                    <p class="administrator__label">Що очікуємо від тебе:</p>
                    <ul>
                        <li>вік 18 років +;</li>
                        <li>досвід роботи в напрямку fast food буде перевагою;</li>
                        <li>товариський та відповідальний;</li>
                        <li>готовий працювати в режимі багатозадачності;</li>
                        <li>готовий вчитись та розвиватись</li>
                    </ul>
                    <p>Будемо раді бачити тебе в нашій команді молодих, активних та творчих людей, які люблять свою роботу і прагнуть приносити задоволення оточуючим!</p>
                    <p><span>Зацікавило? Телефонуй та долучайся до команди!</span></p>
                    <ul>
                        <li><a href="tel:+380678844699">+380678844699 Ольга</a></li>
                        <li><a href="tel:+380676996634">+380676996634 Марія</a></li>
                        <li><a href="tel:+380678844695">+380678844695 Марія</a></li>
                    </ul>
                </div>
            </div>
            <div class="administrator__item"></div>
        </div>
    </div>
</section>
