<section class="cabinet-password">
    <div class="cabinet-user__container">
        <div class="cabinet-password__top">
            <h4 class="cabinet-password__title">Зміна паролю</h4>
        </div>
        <form class="cabinet-password__form "  [formGroup]="changePassForm"  >
                <input type="password" formControlName="password" name="password" class="cabinet-password__input form-admin__input" placeholder="*Поточний пароль">
                <input type="password" (input)="checkConfirmedPassword()" formControlName="newPassword" name="newPassword" class="cabinet-password__input form-admin__input" placeholder="*Новий пароль">
                <input type="password" (input)="checkConfirmedPassword()" formControlName="repitePassword" name="repitePassword" class="cabinet-password__input form-admin__input" placeholder="*Повторіть пароль">
                <mat-error *ngIf="checkVisibilityError('repitePassword', 'matchError')">Confirmed password is required</mat-error>
                <div class="cabinet-password__actions">
              <button type="button" class="cabinet-password__btnAdress button-save" >Cкасувати</button>
              <button type="submit" class="cabinet-password__btnSave button-save" (click)="updateUser()" [disabled]="changePassForm.invalid" >Зберегти зміни</button>
            </div>
         </form>

    </div>
</section>
