@import "app/shared/styles/reset";
@import "app/shared/styles/mixins";
@import "app/shared/styles/vars";
@import "app/shared/styles/fonts";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "app/shared/styles/themes";

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Geometria", sans-serif;
  line-height: 1.5em;

  &.lockBurger {
    @media (max-width: 1100px) {
      overflow: hidden;
    }
  }
  //   &.lockModal {
  //     overflow: hidden;
  //   }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  &::before {
    content: "";
    background: url(../src/assets/images/footer/footer-decor-left.png);
    background-position: 0 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 33% auto;
    pointer-events: none;
    z-index: 3;
  }
  &::after {
    content: "";
    background: url(../src/assets/images/footer/footer-decor-right.png);
    background-position: 100% 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 33% auto;
    pointer-events: none;
    z-index: 3;
  }
}

[class*="__container"] {
  max-width: 1920px;
  padding: 0px 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.lockBurger {
  overflow: hidden;
}

.lockModal {
  overflow: hidden;
}

.btn {
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  padding: 10px 25px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  &.btn-primary {
    color: #fff;
    background: #599921;
    border: 2px solid #599921;
    border-radius: 6px;
    padding: 18px 30px;
  }
  &.btn-white {
    color: #599921;
    background: #fff;
    border: 2px solid #599921;
    border-radius: 6px;
    padding: 18px 30px;
  }
}

.btn-grey {
  color: #599921;
  background: #f5f5f5;
  border-radius: 6px;
  padding: 20px 30px;
  &:hover {
    @media (min-width: 992px) {
      background-color: #599921;
      color: #fff;
    }
  }
}
.btn-icon {
  position: relative;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:active {
    transform: translateY(2px);
  }
  &:hover {
    &.btn-icon-disabled {
      .bg path {
        fill: #599921;
      }
      .bg-icon path {
        fill: #ffffff;
      }
    }
    .bg path {
      fill: #599921;

      @media (min-width: 991.98px) {
        fill: transparent;
      }
    }
    .bg-icon path {
      fill: #ffffff;
      @media (min-width: 991.98px) {
        fill: #599921;
      }
    }

    .burger-btn::before {
      background-color: #599921;
    }
    .burger-btn span {
      background-color: #599921;
    }
    .burger-btn::after {
      background-color: #599921;
    }
  }
  &.facebook {
    .bg {
      path {
        fill: #255a9c;
        stroke: #255a9c;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
      }
    }
    &:hover {
      .bg-icon path {
        fill: #255a9c;
      }
      .bg {
        path {
          fill: transparent;
          stroke: #255a9c;
          transition: all 0.3s;
          -webkit-transition: all 0.3s;
        }
      }
    }
  }
  &.insta {
    .bg {
      path {
        fill: url(#myGradient);
        stroke: transparent;
        transition: all 0.3s;
      }
    }
    &:hover {
      .bg {
        path {
          fill: transparent;
          stroke: url(#myGradient);
          transition: all 0.3s;
          -webkit-transition: all 0.3s;
        }
      }
      .bg-icon path {
        fill: url(#myGradient);
      }
    }
  }
  &.btn-icon-disabled {
    &:active {
      transform: unset;
    }
  }
}

.bg {
  path {
    fill: #599921;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
}
.bg-icon {
  position: absolute;
  margin-top: 2px;
  margin-left: 2px;
  path {
    transition: all 0.3s;
  }
}

.burger {
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  &:active {
    transform: translateY(2px);
  }
  @media (max-width: 1200px) {
    margin-right: 20px;
  }
  @include md {
    margin-right: 0;
  }
  @include xs {
    order: 2;
    .bg {
      width: 30px;
      height: 28px;
    }
    .burger-btn {
      width: 18px;
      height: 10px;
    }
  }
}

.burger-btn {
  position: absolute;
  display: block;
  width: 18px;
  height: 14px;
  transform: translate(1px, 1px);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  span {
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  &::after {
    position: absolute;
    content: "";
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s;
  }
}

// button add item
.button-add {
  padding: 20px;
  min-width: 250px;
  background-color: #599921;
  border-radius: 10px;
  font-size: 17px;
  line-height: 1em;
  color: #fff;
  font-weight: bold;
  border: 2px solid transparent;
  transition: 0.35s;
  margin-bottom: 40px;
  &:hover {
    background-color: transparent;
    border: 2px solid #599921;
    color: #000;
  }
  &:active {
    transform: translateY(2px);
  }
  @include lg {
    padding: 10px 15px;
    min-width: 150px;
    font-size: 16px;
    margin-bottom: 15px;
  }
  @include md {
    display: flex;
    justify-content: center;
  }
  @include xs {
    width: 100%;
    min-width: 100%;
  }
}

//form

.form-admin {
  display: none;
  width: 750px;
  &.active {
    display: block;
  }
  @include lg {
    width: 100%;
  }
  &__box {
    display: flex;
    gap: 20px;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 30px;
      @include md {
        margin-bottom: 15px;
      }
    }
    @include md {
      gap: 15px;
      flex-wrap: wrap;
    }
  }

  &__input {
    flex: 0 1 50%;
    padding: 20px 15px;
    border: 1px solid lightgray;
    border-radius: 10px;
    transition: 0.3s ease;
    outline: 2px solid transparent;
    &::placeholder {
      opacity: 0.7;
    }
    &:focus {
      outline: 2px solid #b5d8f7;
      border: 1px solid #b5d8f7;
    }
    @include md {
      flex: 1 1 100%;
      padding: 10px 15px;
    }
  }

  &__file {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 0px 15px 20px 15px;
  }

  &__body {
    display: flex;
    align-items: center;
    @include sm {
      flex-wrap: wrap;
    }
  }

  &__fileBtn {
    @include sm {
      padding: 10px;
    }
  }
}

.text-center {
  text-align: center !important;
}

.title {
  font-weight: 700;
}

// .bg-layer {

//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 10;
//   background: rgba(0, 0, 0, 0.41);
//   -webkit-backdrop-filter: blur(0);
//   backdrop-filter: blur(0);
//   opacity: 0;
//   visibility: hidden;
//   transition: all 0.25s, backdrop-filter 0s;
//   &._active {
//     opacity: 1;
//     visibility: visible;
//     backdrop-filter: blur(2px);
//     transition: all 0.25s, backdrop-filter 0.1s 0.25s;
//   }
// }

.bg-layer {
  &__burger {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.41);
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s, backdrop-filter 0s;
    &._active {
      opacity: 1;
      visibility: visible;
      backdrop-filter: blur(2px);
      transition: all 0.25s, backdrop-filter 0.1s 0.25s;
    }
  }
  &__cart {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.41);
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s, backdrop-filter 0s;
    &._active {
      opacity: 1;
      visibility: visible;
      backdrop-filter: blur(2px);
      transition: all 0.25s, backdrop-filter 0.1s 0.25s;
    }
  }
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.41);
  -webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s, backdrop-filter 0s;
  &._active {
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(2px);
    transition: all 0.25s, backdrop-filter 0.1s 0.25s;
  }
}

.main {
  flex: 1 1 auto;
  padding-top: 150px;
  @include lg {
    padding: 115px 0px 0px 0px;
  }
  @include sm {
    // padding: 77px 0px 0px 0px;
  }
}

app-admin-category,
app-admin-actions {
  @include sm {
    width: 100%;
  }
}

app-admin-goods {
  @include md {
    width: 100%;
  }
}

// animated progress

.animated-progress {
  width: 300px;
  height: 20px;
  border-radius: 5px;
  margin: 20px 10px;
  border: 1px solid rgb(189, 113, 113);
  overflow: hidden;
  position: relative;
  transition: 1s ease;
  @include lg {
    width: 20%;
  }
}

.animated-progress span {
  height: 100%;
  display: block;
  width: 0;
  color: rgb(255, 251, 251);
  line-height: 30px;
  position: absolute;
  text-align: center;
  transition: 0.2s ease;
}
.progress-percents {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
}

.progress-lightred span {
  background-color: #ff6161cc;
}

#toast-container > div {
  opacity: 1;
  background-color: #255a9c;
}

// button-save
.button-save {
  margin-top: 10px;
  background-color: #599921;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 17px;
  line-height: 1em;
  color: #fff;
  font-weight: bold;
  border: 2px solid transparent;
  transition: 0.35s;
  &:hover {
    background-color: transparent;
    border: 2px solid #599921;
    color: #000;
  }
  @include xs {
    width: 100%;
  }
}
//  btn-delete-image
.btn-delete-image {
  margin-left: 20px;
  background-color: #599921;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 17px;
  line-height: 1em;
  color: #fff;
  font-weight: bold;
  border: 2px solid transparent;
  transition: 0.35s;
  &:hover {
    background-color: transparent;
    border: 2px solid #599921;
    color: #000;
  }
}

/* ========   table  ========== */
.table-global {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  @include sm {
    flex-direction: unset;
    justify-content: center;
  }
  tbody {
    @include sm {
      display: flex;
      gap: 10px;
      overflow-x: auto;
    }
  }
  &__actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__button {
    display: flex;
    background-color: transparent;
    font-weight: 700;
    color: #599921;
    transition: 0.3s ease;
    &:hover {
      color: #599921ae;
    }
  }

  &__empty {
    padding: 50px;
    font-size: 40px;
    letter-spacing: 1px;
    @include sm {
      font-size: 20px;
      padding: 50px 15px 50px 15px;
    }
  }
}

/* ========   table  ========== */

//  breadcumb
.breadcrumb {
  &__list {
    padding: 0px 15px;
    position: absolute;
    top: 0px;
    // left: 0;
    display: flex;
    list-style-type: none;
    font-size: 12px;
    line-height: 13px;
    left: -25px;
    margin-bottom: 50px;
    @include lg {
      top: -30px;
    }
  }

  &__item {
    &:not(:last-child) {
      &::after {
        content: "";
        position: relative;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid #599921;
        margin: 0 15px 0 10px;
      }
    }
  }

  &__link {
    color: #5a5a5a;
    transition: 0.35s;
    &:hover {
      color: #000;
    }
  }
}

// buscket

.basket {
  position: fixed;
  // display: block;
  top: 165px;
  right: 20px;
  width: 120px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(//www.tomatina.ua/wp-content/themes/tomatina/css/../img/icons/basket_bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 8;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  &:hover {
    .basket-green {
      transform: translate(-50%, -50%) rotate(0);
    }
  }

  @media (max-width: 1540px) {
    top: 130px;
  }
  @include sm {
    right: 10px;
  }
  @include xs {
    right: 5px;
    top: 135px;
  }
  &.active {
    opacity: 1;
  }
}
.basket {
  background-image: none;
}

.basket-green {
  position: absolute;
  width: 108px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(15deg);
  z-index: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.basket-imgs {
  position: relative;
  display: block;
  margin-right: 15px;
  top: 1px;
  z-index: 2;
  span {
    position: absolute;
    z-index: 1;
    top: -6px;
    right: -8px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 14px;
    color: #2d2c2c;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.cart-count {
}
.basket-block {
  position: relative;
  display: block;
  z-index: 2;
  p {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    line-height: 10px;
  }
  span {
    font-size: 14px;
    color: #fff;
  }
}

.h4 {
  font-size: 26px;
  line-height: 1.2em;
}

.thumb-input-number {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #181818;
  font-size: 14px;
  line-height: 1;
  button {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: none;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    font-size: 18px;
    font-weight: 700;
    color: #2d2c2c;
    background-color: #f5f5f5;
    border-radius: 5px;
    &:hover {
      background-color: #599921;
      color: #fff;
    }
  }
  input {
    width: 50px;
    height: 26px;
    font-weight: 500;
    color: #2d2c2c;
    text-align: center;
    font-size: 16px;
  }
}

.basket.active .basket-green {
  animation-name: basket;
  animation-duration: 1s;
}

// scroll

// html:not(.touch-screen)::-webkit-scrollbar, html:not(.touch-screen) *::-webkit-scrollbar {
//   width: 5px;
//   height: 5px;
//   background: #599921;
// }

html:not(.touch-screen)::-webkit-scrollbar,
html:not(.touch-screen) *::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

html:not(.touch-screen)::-webkit-scrollbar-thumb,
html:not(.touch-screen) *::-webkit-scrollbar-thumb {
  background: #599921;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-15 {
  margin-top: 15px;
}
