<section class="section-checkout checkout">
    <div class="checkout_container">
      <!-- <ngx-spinner 
      color = "#fff" type="ball-fall" [fullScreen] = "true"><p style="color: white" > Loading... </p>
    </ngx-spinner> -->
        <div class="checkout__top top-title">
            <h1 class="checkout__title title" *ngIf="!orderService.basket || orderService.basket.length > 0">Оформити замовлення</h1>
        </div>
        <div class="checkout__items">
          <div class="checkout__item">
            <form class="checkout__formFood" [formGroup]="foodForm"  >


            </form>

            <div class="checkout__map map-checkout">
              <div class="map-checkout__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4325.453004906748!2d24.01251778183582!3d49.8625643484255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473addae674cfd1d%3A0xa8962158c408d4fc!2z0L_RgNC-0YHQv9C10LrRgiDQkifRj9GH0LXRgdC70LDQstCwINCn0L7RgNC90L7QstC-0LvQsCwgOTUsINCb0YzQstGW0LIsINCb0YzQstGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNzkwMDA!5e0!3m2!1suk!2sua!4v1682593399022!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe> 
              </div>
             </div>  
          </div>

          <div class="checkout__item">
            <h2 class="checkout__delivery-text">Ваше замовлення</h2>
            <div class="checkout__busket">
              <ng-container *ngFor="let product of orderService.basket">
              <div class="checkout__products">
                <img [src]="product.image" [routerLink]="[ '/category-menu/'+product.category.path, product.id ]" alt="img">
                   <div class="checkout__count">
                      <h5 class="checkout__title-buy" [routerLink]="[ '/category-menu/'+product.category.path, product.id ]">{{product.name}}</h5>
                      <div class="checkout__box">
                        <div class="checkout__summa">{{ product.price * product.count }} <span>грн</span></div>
                        <div class="thumb-input-number">
                          <button type="button" class="decrement" (click)="productCount(product, false)">-</button>
                          <input [value]="product.count" readonly="" class="product-qty" tabindex="-1" max="999">
                          <button type="button" class="increment" (click)="productCount(product, true)">+</button>
                       </div>
                      
                      <button class="checkout__remove"  (click)="removeProduct(product, $event)"><div class="checkout__trash"></div></button>

                    </div>
                    </div>

          </div>
      </ng-container>
     
      <!-- <div class="checkout__total" *ngIf="!orderService.basket || orderService.basket.length > 0"><span>До оплати: </span>{{ getTotalSum() }} <span> грн </span></div> -->
      <ng-container *ngIf="!orderService.basket || orderService.basket.length === 0">
          <div class="checkout__empty-box">
          <img class="checkout__empty-image" src="../../../assets/images/header-informer/cart-empty.png" alt="img">
          <h3 class="checkout__empty">Кошик порожній</h3>
          <a  (click)="navigateToCatalog()"  class="checkout__empty-btn">ПЕРЕЙТИ ДО КАТАЛОГУ</a>
        </div>
        </ng-container>
          </div>

                <!-- form order -->
                <form class="form checkout__order order-checkout" [formGroup]="orderForm">
                  <div class="order-checkout__box" *ngIf="showHolders">

                  <div class="order-checkout__holders" [ngClass]="{ 'hide': !showHolders }">
                    <div class="order-checkout__title">Прибори</div>
                    <div class="order-checkout__description">Вкажіть кількість осіб, на яке робите замовлення</div>
                    <div class="thumb-input-number"> 
                      <button type="button" class="decrement" (click)="decrementCount()">-</button> 
                      <input id="things-count" class="product-qty" formControlName="selectedHolders"  value="1"   name="food" readonly="" tabindex="-1" data-min="0"> 
                      <button type="button" class="increment" (click)="incrementCount()">+</button>
                    </div>
                    <div class="order-checkout__price-wrap"> <b>Безкоштовно</b></div>
                  </div>




                </div>
                <div class="order-checkout__without-holders"> 
                  <label class="order-checkout__checkbox" (change)="toggleHoldersVisibility()"> 
                    <input type="checkbox" name="without_holders"> 
                    <span>Без приборів та серветок, з любов'ю до навколишнього середовища</span> 
                  </label>
                </div>
                </form>


                <div class="checkout__total" *ngIf="!orderService.basket || orderService.basket.length > 0"><span>До оплати: </span>{{ getTotalSum() }} <span> грн </span>
                </div>

          <div class="checkout__actions">
            <button type="submit" (click)="addForm()" class="checkout__btn" >Оформити замовлення</button>

          </div> 
          </div>
 
           </div>
    </div>
</section>

